In [1]:
import data as dt

In [2]:
data = dt.f_leer_archivos_varios("MXNUSD_2018.xlsx", "MXNUSD_2019.xlsx", "MXNUSD_2020.xlsx")

In [3]:
data

                 timestamp       open       high        low      close  volume
0      2018-01-01 18:00:00  23.590469  23.596036  23.590469  23.596036      61
1      2018-01-01 18:01:00  23.590469  23.590469  23.590469  23.590469      22
2      2018-01-01 18:05:00  23.590469  23.590469  23.590469  23.590469      20
3      2018-01-01 18:07:00  23.584906  23.590469  23.584906  23.590469      12
4      2018-01-01 18:08:00  23.590469  23.596036  23.590469  23.596036      20
...                    ...        ...        ...        ...        ...     ...
263922 2020-12-31 16:52:00  20.028039  20.028039  20.024029  20.028039      23
263923 2020-12-31 16:53:00  20.028039  20.028039  20.028039  20.028039       1
263924 2020-12-31 16:54:00  20.028039  20.028039  20.020020  20.020020      16
263925 2020-12-31 16:57:00  20.024029  20.028039  20.020020  20.028039      95
263926 2020-12-31 16:59:00  20.032051  20.032051  20.024029  20.032051      15

[735949 rows x 6 columns]

In [4]:
moment = dt.f_leer_archivos("Trade Balance - United States.csv")

moment

              DateTime  Actual  Consensus  Previous  Revised
23 2018-03-07 13:30:00   -56.6      -55.1     -53.1    -53.9
22 2018-04-05 12:30:00   -57.6      -56.8     -56.6    -56.7
21 2018-05-03 12:30:00   -49.0      -50.0     -57.6    -57.7
20 2018-06-06 12:30:00   -46.2      -49.0     -49.0    -47.2
19 2018-07-06 12:30:00   -43.1      -43.7     -46.2    -46.1
18 2018-08-03 12:30:00   -46.3      -46.5     -43.1    -43.2
17 2018-09-05 12:30:00   -50.1      -50.1     -46.3    -45.7
16 2018-10-05 12:30:00   -53.2      -53.5     -50.1    -50.0
15 2018-11-02 12:30:00   -54.0      -53.6     -53.2    -53.3
14 2018-12-06 13:30:00   -55.5      -55.0     -54.0    -54.6
13 2019-02-06 13:30:00   -49.3      -54.0     -55.5    -55.7
12 2019-03-06 13:30:00   -59.8      -57.9     -49.3    -50.3
11 2019-03-27 12:30:00   -51.1      -57.0     -59.8    -59.9
10 2019-04-17 12:30:00   -49.4      -53.5     -51.1      NaN
9  2019-05-09 12:30:00   -50.0      -50.2     -49.4    -49.3
8  2019-06-06 12:30:00   -50.8      -50.7     -50.0    -51.9
7  2019-07-03 12:30:00   -55.5      -54.0     -50.8    -51.2
6  2019-08-02 12:30:00   -55.2      -54.6     -55.5    -55.3
5  2019-09-04 12:30:00   -54.0      -53.5     -55.2    -55.5
4  2019-10-04 12:30:00   -54.9      -54.5     -54.0      NaN
3  2019-11-05 13:30:00   -52.5      -52.5     -54.9    -55.0
2  2019-12-05 13:30:00   -47.2      -48.7     -52.5    -51.1
1  2020-01-07 13:30:00   -43.1      -43.8     -47.2    -46.9
0  2020-02-05 13:30:00   -48.9      -48.2     -43.1    -43.7

In [5]:
print(moment)

              DateTime  Actual  Consensus  Previous  Revised
23 2018-03-07 13:30:00   -56.6      -55.1     -53.1    -53.9
22 2018-04-05 12:30:00   -57.6      -56.8     -56.6    -56.7
21 2018-05-03 12:30:00   -49.0      -50.0     -57.6    -57.7
20 2018-06-06 12:30:00   -46.2      -49.0     -49.0    -47.2
19 2018-07-06 12:30:00   -43.1      -43.7     -46.2    -46.1
18 2018-08-03 12:30:00   -46.3      -46.5     -43.1    -43.2
17 2018-09-05 12:30:00   -50.1      -50.1     -46.3    -45.7
16 2018-10-05 12:30:00   -53.2      -53.5     -50.1    -50.0
15 2018-11-02 12:30:00   -54.0      -53.6     -53.2    -53.3
14 2018-12-06 13:30:00   -55.5      -55.0     -54.0    -54.6
13 2019-02-06 13:30:00   -49.3      -54.0     -55.5    -55.7
12 2019-03-06 13:30:00   -59.8      -57.9     -49.3    -50.3
11 2019-03-27 12:30:00   -51.1      -57.0     -59.8    -59.9
10 2019-04-17 12:30:00   -49.4      -53.5     -51.1      NaN
9  2019-05-09 12:30:00   -50.0      -50.2     -49.4    -49.3
8  2019-06-06 12:30:00   -50.8      -50.7     -50.0    -51.9
7  2019-07-03 12:30:00   -55.5      -54.0     -50.8    -51.2
6  2019-08-02 12:30:00   -55.2      -54.6     -55.5    -55.3
5  2019-09-04 12:30:00   -54.0      -53.5     -55.2    -55.5
4  2019-10-04 12:30:00   -54.9      -54.5     -54.0      NaN
3  2019-11-05 13:30:00   -52.5      -52.5     -54.9    -55.0
2  2019-12-05 13:30:00   -47.2      -48.7     -52.5    -51.1
1  2020-01-07 13:30:00   -43.1      -43.8     -47.2    -46.9
0  2020-02-05 13:30:00   -48.9      -48.2     -43.1    -43.7