In [1]:
import data as dt

In [2]:
data = dt.f_leer_archivos_varios("MXNUSD_2018.xlsx", "MXNUSD_2019.xlsx", "MXNUSD_2020.xlsx")

In [3]:
data

                 timestamp     open     high      low    close  volume
0      2018-01-01 18:00:00  0.04239  0.04239  0.04238  0.04238      61
1      2018-01-01 18:01:00  0.04239  0.04239  0.04239  0.04239      22
2      2018-01-01 18:05:00  0.04239  0.04239  0.04239  0.04239      20
3      2018-01-01 18:07:00  0.04240  0.04240  0.04239  0.04239      12
4      2018-01-01 18:08:00  0.04239  0.04239  0.04238  0.04238      20
...                    ...      ...      ...      ...      ...     ...
263922 2020-12-31 16:52:00  0.04993  0.04994  0.04993  0.04993      23
263923 2020-12-31 16:53:00  0.04993  0.04993  0.04993  0.04993       1
263924 2020-12-31 16:54:00  0.04993  0.04995  0.04993  0.04995      16
263925 2020-12-31 16:57:00  0.04994  0.04995  0.04993  0.04993      95
263926 2020-12-31 16:59:00  0.04992  0.04994  0.04992  0.04992      15

[735949 rows x 6 columns]